.estrutura {
  background: #a52a2a;
  padding-bottom: 30px;
  padding-top: 30px;
}

.estrutura2 {
  width: 400px;
  height: 150px;
  margin-top: 15px;
  margin-left: 400px;
  border-radius: 20px;
  background: silver;
  border: solid;
  margin-bottom: 30px;
}

h1 {
  padding-bottom: 20px;
}
