@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&display=swap');

.estrutura {
  background: #a52a2a;
  padding-top: 30px;
}

.titulo {
  text-align: center;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 30px;
}

.estrutura2 {
  width: 400px;
  height: 200px;
  margin-top: 50px;
  margin-left: 400px;
  border-radius: 20px;
  background: silver;
  border: solid;
}

.ul {
  align-items: center;
  padding-bottom: 50px;
}

.li {
  align-items: center;
  margin-top: 5px;
}
p {
  margin-left: 20px;
  margin-top: 20px;
}
